.header {
    height: 10%;
    padding: 2% 0%;
    background-color: black;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 5%;
    color: white;
    font-size: 20pt;
}